<div class="datagrid">
	<table>
		<form action="/branch_edit/<%= name %>" enctype="multipart/form-data" id="uploadForm" method="post">
		<input type="hidden" name="PartitionKey" value="<%=birthYear %>">
		<input type="hidden" name="RowKey" value="<%=name %>">
		<input type="hidden" name="year" value="<%=year %>">
		<thead>
			<tr>
				<th colspan="3"><%= name %></th>
			</tr>
		</thead>
		<tr class="alt">
			<td colspan="3">

				<label for="ex_file" >

				<% if(photo != "") { %>
				<img id="update_image" src="<%=photo %>" align="center"/>
				<% } else { %>
				<img id="update_image" src="https://sbpccyouth.blob.core.windows.net/imgcontainer/Unknown.png"  align="center"/>
				<% } %>

				</label>

				<div class="filebox upload">
					<!-- <label for="ex_submit">업로드</label>
					<input type="submit" value="Upload" id="ex_submit"> -->
				</div><br/>
	
			</td>
		</tr>
		<tr>
			<td><label>또래</label></td>
			<td colspan="2"><%= birthYear %> 또래</td>
		</tr>
		<tr class="alt">
			<td><label>성별</label></td>
			<td colspan="2"><input type="text" name="gender" value="<%if(gender){ %><%= gender %><%} %>" /></td>
		</tr>
		<tr>
			<td><label>브랜치</label></td>
			<td colspan="2"><input type="text" name="branch" value="<%= branch %>" /></td>
		</tr>
		<tr class="alt">
			<td><label>전화번호</label></td>
			<td colspan="2"><input type="text" name="phone" value="<%if(phone){ %><%= phone %><%} %>" /></td>
		</tr>
		<tr>
			<td><label>생년월일</label></td>
			<td colspan="2">
				<select name="birthYear">
				<% for(var i=75; i <99; i++) { %> 
				<option value="<%=i %>" <% if(birthYear && i==birthYear) { %>selected<%} %> ><%=i %></option>
				<% } %>
				</select>
				<select name="birthMonth">
				<% for(var i=1; i <13; i++) { %> 
				<option value="<%=i %>" <% if(birthMonth && i==birthMonth) { %>selected<%} %> ><%=i %></option>
				<% } %>
				</select>
				<select name="birthDay">
				<% for(var i=1; i <32; i++) { %> 
				<option value="<%=i %>" <% if(birthDay && i==birthDay) { %>selected<%} %> ><%=i %></option>
				<% } %>
				</select>
			</td>
		</tr>
		<tr class="alt">
			<td><label>출석 빈도</label></td>
			<td colspan="2">
				<select name="attend">
				<option value="0" <% if(attend && attend==0) { %>selected<%} %> >안 나옴</option>
				<option value="1" <% if(attend && attend==1) { %>selected<%} %> >가끔 나옴</option>
				<option value="2" <% if(attend && attend==2) { %>selected<%} %> >종종 나옴</option>
				<option value="3" <% if(attend && attend==3) { %>selected<%} %> >대부분 나옴</option>
				<option value="4" <% if(attend && attend==4) { %>selected<%} %> >항상 나옴</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label>성격</label></td>
			<td colspan="2">
				<select name="tension">
				<option value="0" <% if(tension && tension==0) { %>selected<%} %> >말도 잘 안함</option>
				<option value="1" <% if(tension && tension==1) { %>selected<%} %> >내성적임</option>
				<option value="2" <% if(tension && tension==2) { %>selected<%} %> >무난함</option>
				<option value="3" <% if(tension && tension==3) { %>selected<%} %> >외향적임</option>
				<option value="4" <% if(tension && tension==4) { %>selected<%} %> >분위기 메이커</option>
				</select>
			</td>
		</tr>
		<tr class="alt">
			<td><label>비고 사향</label></td>
			<td colspan="2"><input type="text" name="attendDesc" <% if (attendDesc) { %>value="<%= attendDesc %>"<%} %> /></td>
		</tr> 

		<tr class="filebox tablesubmit">
			<td colspan="3"><label onclick="UploadSubmit()" for="ex_file2">제출</label><!--<input type="submit" id="ex_file2"/>-->
			</td>

		</tr>

		<div class="filebox upload">
			<input type="file" id="ex_file" name="upload" accept="image/*" onchange="ReadURL(this)">
			</form>
		</div>
		<!-- </form> -->
	</table>
</div>
